<div class="title">{ <a href="{{ '/' | relative_url }}">Bruno Franca</a> }</div>
<nav>
    <ul>
    {% for item in site.data.menu_navigation %}
    <li>
        <a
          {% if page.nav_current == item.link or page.url == item.link %}
            aria-current="page"
          {% endif %}
          {% if item.class %}
            class="{{ item.class }}"
          {% endif %}
          {% if item.label %}
            aria-label="{{ item.label }}"
          {% endif %}
          href="{{ item.link | relative_url }}"
        >
            {% if item.text%}
                {{ item.text }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
    </ul>
</nav>